<div class="product-form">
  <h1 class="text-center">Add Product</h1>
  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" class="form-control" [(ngModel)]="product.name"/>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input id="description" class="form-control" [(ngModel)]="product.description"/>
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input id="price" class="form-control" [(ngModel)]="product.price"/>
  </div>
  <div class="form-group">
    <label for="type">Type</label>
    <input id="type" class="form-control" [(ngModel)]="product.type"/>
  </div>
  <button type="button" class="btn btn-primary" (click)="save()">Save</button>
</div>
