<!--if not null. if pagedResult null, if returns false on condition and this is not rendered-->
<div *ngIf="pagedResult">
  <table class="table">
      <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email address</th>
        </tr>
      </thead>
    <tbody>
    <!--iterate through returned users-->
      <tr *ngFor="let user of pagedResult.data">
        <!--binding of users to properties in view-->
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-sm btn-outline-primary"
          (click)="previous()"
          *ngIf="pagedResult.pageNumber !==0">Previous</button>
  <button class="btn btn-sm btn-outline-primary float-right"
          (click)="next()"
          *ngIf="pagedResult.pageNumber < pagedResult.totalPages - 1">Next</button>

</div>
